# Copyright 2019 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#

sphinx==1.8.3
git+git://github.com/manneohrstrom/sphinx-markdown-builder@master#egg=sphinx-markdown-builder
boto3==1.9.71
ruamel.yaml==0.15.83

# working around travis issue
# Could not import extension sphinx.builders.linkcheck (exception: No module named ordered_dict)
# see see https://github.com/ystia/yorc/pull/178
# (Updated this to 1.25.3, which includes security fixes, but is compatible with requests.)
urllib3[secure]==1.25.3
