# Copyright 2019 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#

# base level jekyll configuration file for Shotgun Developer Site Environment
# values here can be overriden by adding a jekyll_config.yml in your repository.

# Site settings
title: SG Developer
description: Resources for Shotgun Developers.

# Build settings
markdown: kramdown
theme: just-the-docs

plugins:
  # Resolves relative links to images.
  # See https://github.com/benbalter/jekyll-relative-links
  - jekyll-relative-links
  #
  # handles i18n.
  # See https://github.com/untra/polyglot
  - jekyll-polyglot
  # analytics
  - jekyll-analytics

# default i18n configuration
languages: ["en"]
lang_vars: ["English"]
default_lang: "en"
exclude_from_localization: ["javascript", "css"]
parallel_localization: true

permalink: pretty
exclude: ["tk-doc-generator"]

# analytics - see https://github.com/hendrikschneider/jekyll-analytics
# jekyll_analytics:
#  GoogleAnalytics:          # Add, if you want to track with Google Analytics
#    id: UA-123-456          # Required - replace with your tracking id
#    anonymizeIp: false      # Optional - Default: false - set to true for anonymized tracking

# Injecting custom tags before and after the content
#
# You can add custom html before and after the content using these
# parameters. This can be useful if you for example want to integrate
# a search system.
custom_pre_content: "<h1>before content</h1>"
custom_post_content: "<h1>after content</h1>"

# Adding custom data to HEAD
#
# You can inject custom data to the head section of all pages using
# this parameter:
# additional_head_html: ...

# Default permalinks will use the generated UID.  For pages where the UID
# should not be used, permalink can be set in the page slug.
permalink: /:uid/
